doc
.libs
libwlog.la
*.o
*.lo
.deps/
Doxyfile
Makefile
config.h
config.log
config.status
example/.deps/
example/Makefile
libtool
stamp-h1
example/basic_iteration
example/basic_stream_iteration
example/level_iteration
example/test1
example/test2
example/test3
example/test4
example/test5
example/test6
example/wlog.txt
